body {
    background-color: #5D7BAD;
    margin: 0;
    padding: 0;
}

.icons-inicio1 {
    width: 65px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 60%;
}

.icons-inicio2 {
    width: 65px;
    height: auto;
    position: absolute;
    top: 35%;
    left: 60%;
}

.icons-inicio3 {
    width: 65px;
    height: auto;
    position: absolute;
    top: 49%;
    left: 60%;
}

.icons-inicio4 {
    width: 65px;
    height: auto;
    position: absolute;
    top: 63%;
    left: 60%;
}

.icons-inicio5 {
    width: 65px;
    height: auto;
    position: absolute;
    top: 78%;
    left:60%;
}

#div-inicio {
    height: 55vh;
}

/*#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#inicio {
    background-image: url('/img/fondo-inicio.jpg');
    background-size: cover;
    background-position:left top;
    height: 100vh;
    color: white;
    text-align: center;
}

.h1-inicio {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.div-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    pointer-events: none;
    transition: all 0.3s ease;

}


#inicio {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

section {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}